version: "3.9"

services:
  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama:/root/.ollama

  api:
    build: .
    command: uvicorn app.api.main:app --host 0.0.0.0 --port 8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - ollama

  ui:
    image: python:3.11-slim
    working_dir: /app
    volumes:
      - .:/app
    command: >
      sh -c "
      pip install streamlit requests &&
      streamlit run app/ui/app.py
      --server.port=8501
      --server.address=0.0.0.0
      "
    ports:
      - "8501:8501"
    depends_on:
      - api

volumes:
  ollama:
