langchain>=1.2.0
langchain-community
chromadb
sentence-transformers
pypdf
python-dotenv
langchain-huggingface
langchain-ollama
fastapi
uvicorn[standard]
streamlit
langchain-core>=1.2.0
langchain-chroma
pydantic
requests
python-multipart
langchain-openai
faiss-cpu
openai
tiktoken
langchain-groq
langchain-text-splitters
groq 
